body{
    font-family: sans-serif;
  
}

table{
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid rgb(27, 28, 29);
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(233, 233, 233);
}

thead th:nth-child(1){
    width: 50%;
}

tbody td{
    width: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

th, td{
    padding: 10px;
    border: 0.5px solid rgb(27, 28, 29);
    font-family: Arial;
    font-weight: 300;
    font-size: 0.6em;
}

input{
    border-color: transparent;
}

.button{
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 1rem;
}

/*tbody tr:nth-child(odd) {
    background-color: #ff33cc;
  }

  
tbody tr:nth-child(even) {
    background-color: #e495e4;
  }

  tbody td:nth-child(even) {
    background-color: #e495e4;
  }*/